.App {
  margin-top: 12px;
  margin-left: 42px;
  margin-right: 42px;
  text-align: center;
}

.visualizer {
  text-align: center;
  display:inline-block;
}

.tag-container {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding-top: 12.5%;
}
.tag {
  text-align: center;
  display: block;
  height: 25px;
}

.icon {
  width: 35px;
  height: 25px;
  padding:5px;
  fill:black;
}

.icon:hover {
  fill:lightblue;
}

